<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Vendita Espositori in Cartone - Scopri tutte le soluzioni!" %></title>

    <meta name="description" content="<%= current_page.data.description || "Attira più Clienti con gli Espositori Pubblicitari in Cartone: da Banco, da Terra e da Vetrina. Vendita espositori: richiedi ora un Preventivo Gratuito!" %>" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag :site %>

  </head>

  <body class="<%= page_classes %>">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-30233048-3', 'auto');
        ga('send', 'pageview');

    </script>


    <div class="row">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li><a href="/">Vendita Espositori</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li class="menu-text"><a href="/"><img src=""></a></li>
                    <li><a href="https://shop.defibrillatori-online.com/" target="_blank">Negozio<span class="show-for-large"> Online</span></a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/news/">Notizie</a></li>
                </ul>
            </div>
            <div class="top-bar-right show-for-large">
                <ul class="menu">
                    <li><%= link_to 'Per lo sport', '/sport' %></li>
                    <li><%= link_to 'Quanto costa?', '/defibrillatore_costo' %></li>
                    <li><%= link_to 'Corsi abilitazione', '/abilitarsi-alluso' %></li>

                </ul>
            </div>
        </div>

    <div >
        <a href="/"><img src="https://prismic-io.s3.amazonaws.com/bilca/991ba2aad412be8fb8b6f500a384de9b78c9ac33_bilca-logo.jpg"></a>
    </div> -->

    <section class="title-container show-for-medium" style="background: url(<%= current_page.data.immagineTestata %>) center no-repeat; background-size: cover;">
            <div class="row clearfix">
                <div class="title float-center">
                    <h1 class="big">
                        <% if current_page.data.testata.prima_riga != ''  %>
                            <%= current_page.data.testata.prima_riga %>
                        <% end %>
                    </h1>
                    <span class="medium">
                        <% if current_page.data.testata.seconda_riga != ''  %>
                            <%= current_page.data.testata.seconda_riga %><br />
                        <% end %>
                    </span>

                    <% if current_page.data.testata.hasButton != 0  %>
                        <span>
                            <%= partial "partials/callToAction" %>
                        </span>
                    <% end %>
                </div>
            </div>
    </section>

    <section class="title-container show-for-small-only">
            <div class="row clearfix">
                <div class="title float-center">
                    <h1 class="title-mobile">
                        <% if current_page.data.testata.prima_riga != ''  %>
                            <%= current_page.data.testata.prima_riga %>
                        <% end %>
                    </h1>
                    <br>
                    <h2 class="medium">
                        <% if current_page.data.testata.seconda_riga != ''  %>
                            <%= current_page.data.testata.seconda_riga %><br />
                        <% end %>
                    </h2>
                    <img src="<%= current_page.data.immagineTestata %>">
                    <br><br>
                    <% if current_page.data.testata.hasButton != 0  %>
                        <h3 class="show-for-medium">
                            <%= partial "partials/callToAction" %>
                        </h3>
                    <% end %>
                </div>
            </div>
    </section>


    <%= yield %>

    <%= partial "partials/footer" %>


    <%= javascript_include_tag  "all" %>

    <script type="text/javascript">
        var _iub = _iub || [];
        _iub.csConfiguration = {
            cookiePolicyId: 846066,
            siteId: 390159,
            lang: "it",
            priorConsent: false
        };
    </script>
    <script type="text/javascript" src="//cdn.iubenda.com/cookie_solution/safemode/iubenda_cs.js" charset="UTF-8" async></script>



  </body>
</html>
